<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>İlanlar</h1>
    <a href="{{ url_for('new_ad') }}">Yeni İlan Ekle</a>
    <ul>
        {% for ad in ads %}
        <li>
            <h2>{{ ad.title }}</h2>
            <p>Açıklama: {{ ad.description }}</p>
            <p>Fiyat: {{ ad.price }} TL</p>
            <p>Şehir: {{ ad.city }}</p>
            <a href="{{ url_for('detail', id=ad.id) }}">Detaylar</a>
            <a href="{{ url_for('del_ad', id=ad.id) }}">Sil</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
